@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');

$main_background_color: #E5E5E5;
$page_background_color: #151419;
$page_color: #626262;
$active_color: #3C59F0;
$second_color: #ffffff;
$onlike_color: red;

$max_width: 1280px;
$nav_height: 100px;
